body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    margin: 0;
    padding: 0;
    background: #d23effb0;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .shopping-cart{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .shopping-cart input{
    height: 25px;
    width: 200px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-item {
    border: 1px solid #d29393;
    background-color: rgba(146, 146, 255, 0.548);
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .cart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    transition: 0.1s;
    cursor: pointer;
  }
  .img:hover{
    transform: scale(1.2);
  }
  .cart-btn{
    height: 30px;
    width: 80px;
    background-color: rgb(33, 33, 255);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
  }
  .cart-btn:hover{
    background-color: rgb(255, 42, 42);
  }
  .product-btn{
    height: 30px;
    width: 120px;
    background-color: rgb(33, 33, 255);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
  }
  .product-btn:hover{
    background-color: rgb(255, 42, 42);
  }
  .cart-item-img{
    height: 70px;
    width: 100px;
    
  }